{% extends 'base.html' %}

{% block content %}

  {% block content_header %}
  <div class="w3-container">
    <div class="w3-show-inline-block">
      <div class="w3-bar">
    <h2>PDF list</h2>
      </div>
    </div>
  </div>
  {% endblock %}

  <table class="table mb-0">
    <thead>
      <tr>
        <th></th><th></th><th></th><th>
        <th>დასახელება</th>
        <th></th><th></th><th></th><th>
        <th>წაკითხვა/გადმოწერა</th>
      </tr>
    </thead>
    <tbody>
      {% for pdf in pdfs %}
        <tr>
          <th></th><th></th><th></th><th>
          <td>{{ pdf.დასახელება }}</td>
          <th></th><th></th><th></th><th>
            <td><a class="bs" href="{{ pdf.pdf.url }}" ><span class="bss">წაკითხვა/გადმოწერა</span><span class="bss">PDF</span></a></td>
          <!-- <td><a href="{{ pdf.pdf.url }}" class="btn btn-primary btn-sm" target="_blank"> PDF წაკითხვა/გადმოწერა</a></td> -->
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
